spring:
  application:
    name: users-service

  datasource:
    url: jdbc:mysql://localhost:3306/users
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8090
