spring:
  application:
    name: users-service

  datasource:
    url: jdbc:mysql://localhost:3306/users
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8090
